<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>git尝试工程.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79082E641E11195D0033DCD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79082E7D1E11195D0033DCD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79082E881E11195D0033DCD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
